In [11]:
import pandas as pd
import nltk
from nltk import word_tokenize

In [12]:
sen="the food was good but service was poor"

In [13]:
sen=word_tokenize(sen)

In [14]:
sen

['the', 'food', 'was', 'good', 'but', 'service', 'was', 'poor']

In [29]:
df=pd.DataFrame(sen,columns=['word'])
df['stopword']=0
df['pos_tag']=''

In [30]:
from nltk.corpus import stopwords
a=set(stopwords.words('english'))

In [31]:
df['word_len']=0

In [32]:
df

      word  stopword pos_tag  word_len
0      the         0                 0
1     food         0                 0
2      was         0                 0
3     good         0                 0
4      but         0                 0
5  service         0                 0
6      was         0                 0
7     poor         0                 0

In [33]:
for i in range(0,len(df)):
    if (df['word'][i]) in a:
        df['stopword'][i]=1
        
    else:
        df['stopword'][i]=0
        
        
    if(len(df['word'][i])>3):
        df['word_len'][i]=1
    else:
        df['word_len'][i]=0

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [34]:
df

,word,stopword,pos_tag,word_len
0,the,1,"[(t, NN), (h, NN), (e, NN)]",0
1,food,0,"[(f, JJ), (o, NN), (o, NN), (d, NN)]",1
2,was,1,"[(w, VB), (a, DT), (s, NN)]",0
3,good,0,"[(g, NN), (o, MD), (o, VB), (d, NN)]",1
4,but,1,"[(b, NN), (u, NN), (t, NN)]",0
5,service,0,"[(s, NN), (e, NN), (r, NN), (v, NN), (i, NN), ...",1
6,was,1,"[(w, VB), (a, DT), (s, NN)]",0
7,poor,0,"[(p, NN), (o, NN), (o, NN), (r, NN)]",1

In [21]:
post_tag=nltk.pos_tag(sen
                     )

In [36]:
df['pos_tag']=post_tag

In [37]:
df

      word  stopword        pos_tag  word_len
0      the         1      (the, DT)         0
1     food         0     (food, NN)         1
2      was         1     (was, VBD)         0
3     good         0     (good, JJ)         1
4      but         1      (but, CC)         0
5  service         0  (service, NN)         1
6      was         1     (was, VBD)         0
7     poor         0     (poor, JJ)         1

In [64]:
next_l=[]
k=0
for i in range(0,len(sen)-1):
    print i
    next_l.append(sen[i+1])

0
1
2
3
4
5
6

In [67]:
next_l.append("")

In [68]:
next_l

['food', 'was', 'good', 'but', 'service', 'was', 'poor', '']

In [69]:
df['next_words']=""

In [70]:
df['next_words']=next_l

In [100]:
df['prev_words']=""
prev=[]

In [101]:
prev.append("")

In [103]:
for i in range(1,len(sen)):
    print i
    print sen[i]
    prev.append(sen[i-1])

1
food
2
was
3
good
4
but
5
service
6
was
7
poor

In [104]:
prev

['', 'the', 'food', 'was', 'good', 'but', 'service', 'was']

In [105]:
df['prev_words']=prev

In [106]:
df

      word  stopword        pos_tag  word_len next_words prev_words
0      the         1      (the, DT)         0       food
1     food         0     (food, NN)         1        was        the
2      was         1     (was, VBD)         0       good       food
3     good         0     (good, JJ)         1        but        was
4      but         1      (but, CC)         0    service       good
5  service         0  (service, NN)         1        was        but
6      was         1     (was, VBD)         0       poor    service
7     poor         0     (poor, JJ)         1                   was

In [109]:
text= 'Best spicy tuna roll , great asian salad'
nouns=[]
# Check if noun (=NN)
isNoun = lambda pos: pos[:2] == 'NN'

# tokenise text and keep only nouns
tokenized = nltk.word_tokenize(text)
nouns = [word for (word, pos) in nltk.pos_tag(tokenized) if isNoun (pos)] 
print(nouns)

['spicy', 'tuna', 'roll', 'salad']