In [87]:
import pandas as pd
import nltk
from nltk import word_tokenize

In [88]:
sen="the food was good but service was poor"

In [89]:
sen=word_tokenize(sen)

In [90]:
sen

['the', 'food', 'was', 'good', 'but', 'service', 'was', 'poor']

In [91]:
df=pd.DataFrame(sen,columns=['word'])
df['stopword']=0
df['pos_tag']=''

In [92]:
from nltk.corpus import stopwords
a=set(stopwords.words('english'))

In [93]:
df['word_len']=0

In [94]:
df

      word  stopword pos_tag  word_len
0      the         0                 0
1     food         0                 0
2      was         0                 0
3     good         0                 0
4      but         0                 0
5  service         0                 0
6      was         0                 0
7     poor         0                 0

In [95]:
for i in range(0,len(df)):
    if (df['word'][i]) in a:
        df['stopword'][i]=1
        
        
    else:
        df['stopword'][i]=0
        
        
    if(len(df['word'][i])>3):
        df['word_len'][i]=1
    else:
        df['word_len'][i]=0

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [96]:
df

      word  stopword pos_tag  word_len
0      the         1                 0
1     food         0                 1
2      was         1                 0
3     good         0                 1
4      but         1                 0
5  service         0                 1
6      was         1                 0
7     poor         0                 1

In [97]:
post_tag=nltk.pos_tag(sen
                     )

In [153]:
post_tag[0][1]

'DT'

In [98]:
df['pos_tag']=post_tag

In [99]:
df

      word  stopword        pos_tag  word_len
0      the         1      (the, DT)         0
1     food         0     (food, NN)         1
2      was         1     (was, VBD)         0
3     good         0     (good, JJ)         1
4      but         1      (but, CC)         0
5  service         0  (service, NN)         1
6      was         1     (was, VBD)         0
7     poor         0     (poor, JJ)         1

In [100]:
next_l=[]
k=0
for i in range(0,len(sen)-1):
    print i
    next_l.append(sen[i+1])

0
1
2
3
4
5
6

In [101]:
next_l.append("")

In [102]:
next_l

['food', 'was', 'good', 'but', 'service', 'was', 'poor', '']

In [103]:
df['next_words']=""

In [104]:
df['next_words']=next_l

In [105]:
df['prev_words']=""
prev=[]

In [106]:
prev.append("")

In [107]:
for i in range(1,len(sen)):
    print i
    print sen[i]
    prev.append(sen[i-1])

1
food
2
was
3
good
4
but
5
service
6
was
7
poor

In [108]:
prev

['', 'the', 'food', 'was', 'good', 'but', 'service', 'was']

In [109]:
df['prev_words']=prev

In [110]:
df

      word  stopword        pos_tag  word_len next_words prev_words
0      the         1      (the, DT)         0       food
1     food         0     (food, NN)         1        was        the
2      was         1     (was, VBD)         0       good       food
3     good         0     (good, JJ)         1        but        was
4      but         1      (but, CC)         0    service       good
5  service         0  (service, NN)         1        was        but
6      was         1     (was, VBD)         0       poor    service
7     poor         0     (poor, JJ)         1                   was

In [111]:
df['pre_word_tag']=""
df['post_word_tag']=""

In [112]:
import os
a=os.popen("echo '"+"the food was good but service was poor"+"' > ~/stanford-parser-2012-11-12/stanfordtemp.txt")
parser_out = os.popen("~/stanford-parser-2012-11-12/lexparser.sh ~/stanford-parser-2012-11-12/stanfordtemp.txt")
print parser_out
for relation in parser_out:
    print(relation)

<open file '~/stanford-parser-2012-11-12/lexparser.sh ~/stanford-parser-2012-11-12/stanfordtemp.txt', mode 'r' at 0x7f15afbc3e40>
(ROOT

  (S

    (NP (DT the) (NN food))

    (VP (VBD was)

      (ADJP (JJ good))

      (SBAR (CC but)

        (S

          (NP (NN service))

          (VP (VBD was)

            (ADJP (JJ poor))))))))



det(food-2, the-1)

nsubj(good-4, food-2)

cop(good-4, was-3)

root(ROOT-0, good-4)

cc(poor-8, but-5)

nsubj(poor-8, service-6)

cop(poor-8, was-7)

ccomp(good-4, poor-8)

In [113]:
from nltk.tree import Tree

examples = [
    '(ROOT (S (NP (DT the) (NN food)) (VP (VBD was) (ADJP (JJ good)) (SBAR (CC but) (S (NP (NN service)) (VP (VBD was) (ADJP (JJ poor))))))))'
]
head_word=[]

def find_noun_phrases(tree):
    return [subtree for subtree in tree.subtrees(lambda t: t.label()=='NP')]

def find_head_of_np(np):
    noun_tags = ['NN', 'NNS', 'NNP', 'NNPS']
    top_level_trees = [np[i] for i in range(len(np)) if type(np[i]) is Tree]
    ## search for a top-level noun
    top_level_nouns = [t for t in top_level_trees if t.label() in noun_tags]
    if len(top_level_nouns) > 0:
        ## if you find some, pick the rightmost one, just 'cause
        return top_level_nouns[-1][0]
    else:
        ## search for a top-level np
        top_level_nps = [t for t in top_level_trees if t.label()=='NP']
        if len(top_level_nps) > 0:
            ## if you find some, pick the head of the rightmost one, just 'cause
            return find_head_of_np(top_level_nps[-1])
        else:
            ## search for any noun
            nouns = [p[0] for p in np.pos() if p[1] in noun_tags]
            if len(nouns) > 0:
                ## if you find some, pick the rightmost one, just 'cause
                return nouns[-1]
            else:
                ## return the rightmost word, just 'cause
                return np.leaves()[-1]

for example in examples:
    tree = Tree.fromstring(example)
    for np in find_noun_phrases(tree):
       
        print " ".join(np.leaves())
        head = find_head_of_np(np)
        
        if head not in head_word:
            
            head_word.append(head)

the food
service

In [114]:
head_word

['food', 'service']

In [127]:
post_tag[0]

('the', 'DT')

In [128]:
df['head_word']=0
pos_pre=[]
pos_pre.append("")
pos_post=[]
for i in range(0,len(post_tag)-1):
    pos_post.append(post_tag[i+1])
pos_post.append("")

for i in range(1,len(post_tag)):
    pos_pre.append(post_tag[i-1])

df['pre_word_tag']=pos_pre
df['post_word_tag']=pos_post

In [129]:

for i in range(0,len(df)):
   
        

    if (df['word'][i]) in head_word:
        print df['word'][i]
        df['head_word'][i]=1
    else:
        df['head_word'][i]=0

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

food
service

In [132]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word
0,the,1,"(the, DT)",0,food,,,"(food, NN)",0
1,food,0,"(food, NN)",1,was,the,"(the, DT)","(was, VBD)",1
2,was,1,"(was, VBD)",0,good,food,"(food, NN)","(good, JJ)",0
3,good,0,"(good, JJ)",1,but,was,"(was, VBD)","(but, CC)",0
4,but,1,"(but, CC)",0,service,good,"(good, JJ)","(service, NN)",0
5,service,0,"(service, NN)",1,was,but,"(but, CC)","(was, VBD)",1
6,was,1,"(was, VBD)",0,poor,service,"(service, NN)","(poor, JJ)",0
7,poor,0,"(poor, JJ)",1,,was,"(was, VBD)",,0

In [150]:
t1="she is serving food in the restaurant"
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
  
    print(lemmatizer.lemmatize(sen[i],post_tag[i][1]))

KeyError: 'DT'

In [155]:
from nltk.corpus import wordnet

morphy_tag = {'NN':wordnet.NOUN,'JJ':wordnet.ADJ,'VB':wordnet.VERB,'RB':wordnet.ADV}

In [156]:
morphy_tag

{'JJ': u'a', 'NN': u'n', 'RB': u'r', 'VB': u'v'}

In [160]:
t1="she is serving food in the restaurant"
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
    if post_tag[i][1] in morphy_tag.keys():
       m=post_tag[i][1]
  
    print(lemmatizer.lemmatize(sen[i],post_tag[i][1]))

KeyError: 'DT'

In [ ]:
#search_age = raw_input("Provide age")
c=post_tag[i][1]
for c in morphy_tag.keys():
    if c == morphy_tag.keys():
        m=morphy_tag.keys()
        name = morphy_tag[m]
        print name