In [1]:
import pandas as pd
import nltk
from nltk import word_tokenize

/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/_libs/__init__.py:4: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .tslib import iNaT, NaT, Timestamp, Timedelta, OutOfBoundsDatetime
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/__init__.py:26: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (hashtable as _hashtable,
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/dtypes/common.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/util/hashing.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import hashing, tslib
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/indexes/base.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, index as libindex, tslib as libts,
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/tseries/offsets.py:21: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.tslibs.offsets as liboffsets
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/ops.py:16: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as libalgos, ops as libops
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/indexes/interval.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs.interval import (
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/internals.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import internals as libinternals
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/sparse/array.py:33: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.sparse as splib
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/window.py:36: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.window as _window
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/groupby/groupby.py:68: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, reduction,
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/core/reshape/reshape.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as _algos, reshape as _reshape
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/io/parsers.py:45: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.parsers as parsers
/home/vibha/miniconda2/lib/python2.7/site-packages/pandas/io/pytables.py:50: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib, writers as libwriters
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/utils/__init__.py:12: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .murmurhash import murmurhash3_32
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/feature_extraction/hashing.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ._hashing import transform as _hashing_transform
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/utils/extmath.py:23: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ._logistic_sigmoid import _log_logistic_sigmoid
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/utils/extmath.py:25: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .sparsefuncs_fast import csr_row_norms
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/utils/random.py:10: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ._random import sample_without_replacement
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/datasets/svmlight_format.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ._svmlight_format import _load_svmlight_file
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/svm/base.py:8: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from . import libsvm, liblinear
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/svm/base.py:9: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from . import libsvm_sparse
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/base.py:35: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ..utils.seq_dataset import ArrayDataset, CSRDataset
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/least_angle.py:23: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ..utils import arrayfuncs, as_float_array, check_X_y, deprecated
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/metrics/cluster/supervised.py:25: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .expected_mutual_info_fast import expected_mutual_information
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/metrics/pairwise.py:31: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .pairwise_fast import _chi2_kernel_fast, _sparse_manhattan
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/coordinate_descent.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from . import cd_fast
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/__init__.py:22: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .sgd_fast import Hinge, Log, ModifiedHuber, SquaredLoss, Huber
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/sag.py:12: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .sag_fast import sag
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/neighbors/__init__.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .ball_tree import BallTree
/home/vibha/miniconda2/lib/python2.7/site-packages/sklearn/neighbors/__init__.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .kd_tree import KDTree

In [67]:
sen="the food was best but serving was worst"

In [68]:
sen=word_tokenize(sen)

In [69]:
sen

['the', 'food', 'was', 'best', 'but', 'serving', 'was', 'worst']

In [70]:
df=pd.DataFrame(sen,columns=['word'])
df['stopword']=0
df['pos_tag']=''

In [71]:
from nltk.corpus import stopwords
a=set(stopwords.words('english'))

In [72]:
df['word_len']=0

In [73]:
df

      word  stopword pos_tag  word_len
0      the         0                 0
1     food         0                 0
2      was         0                 0
3     best         0                 0
4      but         0                 0
5  serving         0                 0
6      was         0                 0
7    worst         0                 0

In [74]:
for i in range(0,len(df)):
    if (df['word'][i]) in a:
        df['stopword'][i]=1
        
        
    else:
        df['stopword'][i]=0
        
        
    if(len(df['word'][i])>3):
        df['word_len'][i]=1
    else:
        df['word_len'][i]=0

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [75]:
df

      word  stopword pos_tag  word_len
0      the         1                 0
1     food         0                 1
2      was         1                 0
3     best         0                 1
4      but         1                 0
5  serving         0                 1
6      was         1                 0
7    worst         0                 1

In [76]:
post_tag=nltk.pos_tag(sen
                     )

In [77]:
post_tag[0][1]

'DT'

In [78]:
df['pos_tag']=post_tag

In [79]:
df

      word  stopword         pos_tag  word_len
0      the         1       (the, DT)         0
1     food         0      (food, NN)         1
2      was         1      (was, VBD)         0
3     best         0     (best, RBS)         1
4      but         1       (but, CC)         0
5  serving         0  (serving, VBG)         1
6      was         1      (was, VBD)         0
7    worst         0    (worst, JJS)         1

In [80]:
next_l=[]
k=0
for i in range(0,len(sen)-1):
    print i
    next_l.append(sen[i+1])

0
1
2
3
4
5
6

In [81]:
next_l.append("")

In [82]:
next_l

['food', 'was', 'best', 'but', 'serving', 'was', 'worst', '']

In [83]:
df['next_words']=""

In [84]:
df['next_words']=next_l

In [85]:
df['prev_words']=""
prev=[]

In [86]:
prev.append("")

In [87]:
for i in range(1,len(sen)):
    print i
    print sen[i]
    prev.append(sen[i-1])

1
food
2
was
3
best
4
but
5
serving
6
was
7
worst

In [88]:
prev

['', 'the', 'food', 'was', 'best', 'but', 'serving', 'was']

In [89]:
df['prev_words']=prev

In [90]:
df

      word  stopword         pos_tag  word_len next_words prev_words
0      the         1       (the, DT)         0       food
1     food         0      (food, NN)         1        was        the
2      was         1      (was, VBD)         0       best       food
3     best         0     (best, RBS)         1        but        was
4      but         1       (but, CC)         0    serving       best
5  serving         0  (serving, VBG)         1        was        but
6      was         1      (was, VBD)         0      worst    serving
7    worst         0    (worst, JJS)         1                   was

In [91]:
df['pre_word_tag']=""
df['post_word_tag']=""

In [93]:
import os
a=os.popen("echo '"+"the food was best but serving was worst"+"' > ~/stanford-parser-2012-11-12/stanfordtemp.txt")
parser_out = os.popen("~/stanford-parser-2012-11-12/lexparser.sh ~/stanford-parser-2012-11-12/stanfordtemp.txt")
print parser_out
for relation in parser_out:
    print(relation)

<open file '~/stanford-parser-2012-11-12/lexparser.sh ~/stanford-parser-2012-11-12/stanfordtemp.txt', mode 'r' at 0x7f433088c8a0>
(ROOT

  (S

    (NP (DT the) (NN food))

    (VP (VBD was)

      (NP

        (NP (JJS best))

        (PP (CC but)

          (S

            (VP (VBG serving)

              (SBAR

                (S

                  (VP (VBD was)

                    (ADJP (JJS worst))))))))))))



det(food-2, the-1)

nsubj(best-4, food-2)

cop(best-4, was-3)

root(ROOT-0, best-4)

prep(best-4, but-5)

dep(but-5, serving-6)

cop(worst-8, was-7)

ccomp(serving-6, worst-8)

In [94]:
from nltk.tree import Tree

examples = [
    '(ROOT (S (NP (DT the) (NN food)) (VP (VBD was) (NP (NP (JJS best)) (PP (CC but) (S (VP (VBG serving) (SBAR (S (VP (VBD was) (ADJP (JJS worst))))))))))))'
]
head_word=[]

def find_noun_phrases(tree):
    return [subtree for subtree in tree.subtrees(lambda t: t.label()=='NP')]

def find_head_of_np(np):
    noun_tags = ['NN', 'NNS', 'NNP', 'NNPS']
    top_level_trees = [np[i] for i in range(len(np)) if type(np[i]) is Tree]
    ## search for a top-level noun
    top_level_nouns = [t for t in top_level_trees if t.label() in noun_tags]
    if len(top_level_nouns) > 0:
        ## if you find some, pick the rightmost one, just 'cause
        return top_level_nouns[-1][0]
    else:
        ## search for a top-level np
        top_level_nps = [t for t in top_level_trees if t.label()=='NP']
        if len(top_level_nps) > 0:
            ## if you find some, pick the head of the rightmost one, just 'cause
            return find_head_of_np(top_level_nps[-1])
        else:
            ## search for any noun
            nouns = [p[0] for p in np.pos() if p[1] in noun_tags]
            if len(nouns) > 0:
                ## if you find some, pick the rightmost one, just 'cause
                return nouns[-1]
            else:
                ## return the rightmost word, just 'cause
                return np.leaves()[-1]

for example in examples:
    tree = Tree.fromstring(example)
    for np in find_noun_phrases(tree):
       
        print " ".join(np.leaves())
        head = find_head_of_np(np)
        
        if head not in head_word:
            
            head_word.append(head)

the food
best but serving was worst
best

In [95]:
head_word

['food', 'best']

In [96]:
post_tag[0]

('the', 'DT')

In [97]:
df['head_word']=0
pos_pre=[]
pos_pre.append("")
pos_post=[]
for i in range(0,len(post_tag)-1):
    pos_post.append(post_tag[i+1])
pos_post.append("")

for i in range(1,len(post_tag)):
    pos_pre.append(post_tag[i-1])

df['pre_word_tag']=pos_pre
df['post_word_tag']=pos_post

In [98]:

for i in range(0,len(df)):
   
        

    if (df['word'][i]) in head_word:
        print df['word'][i]
        df['head_word'][i]=1
    else:
        df['head_word'][i]=0

/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/vibha/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

food
best

In [99]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word
0,the,1,"(the, DT)",0,food,,,"(food, NN)",0
1,food,0,"(food, NN)",1,was,the,"(the, DT)","(was, VBD)",1
2,was,1,"(was, VBD)",0,best,food,"(food, NN)","(best, RBS)",0
3,best,0,"(best, RBS)",1,but,was,"(was, VBD)","(but, CC)",1
4,but,1,"(but, CC)",0,serving,best,"(best, RBS)","(serving, VBG)",0
5,serving,0,"(serving, VBG)",1,was,but,"(but, CC)","(was, VBD)",0
6,was,1,"(was, VBD)",0,worst,serving,"(serving, VBG)","(worst, JJS)",0
7,worst,0,"(worst, JJS)",1,,was,"(was, VBD)",,0

In [181]:
t1="she is serving food in the restaurant"
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
  
    print(lemmatizer.lemmatize('better','r'))

well
well
well
well
well
well
well
well

In [175]:
from nltk.corpus import wordnet

morphy_tag = {'NN':wordnet.NOUN,'JJS':wordnet.ADJ,'VBD':wordnet.VERB,'RBS':wordnet.ADV,'VBG':wordnet.VERB}

In [176]:
morphy_tag

{'JJS': u'a', 'NN': u'n', 'RBS': u'r', 'VBD': u'v', 'VBG': u'v'}

In [177]:
t1="she is serving food in the restaurant"
df['lematized_words']='NULL'
lema=[]
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
    c=post_tag[i][1]
    for name in morphy_tag.keys():
        if name == c:
            print name
            new=morphy_tag[name]
            print new
    lema.append(lemmatizer.lemmatize(post_tag[i][0],new))

NN
n
VBD
v
RBS
r
VBG
v
VBD
v
JJS
a

In [178]:
lema

['the', 'food', u'be', 'best', 'but', u'serve', u'be', u'bad']

In [179]:
df['lematized_words']=lema

In [180]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word,lematized_words
0,the,1,"(the, DT)",0,food,,,"(food, NN)",0,the
1,food,0,"(food, NN)",1,was,the,"(the, DT)","(was, VBD)",1,food
2,was,1,"(was, VBD)",0,best,food,"(food, NN)","(best, RBS)",0,be
3,best,0,"(best, RBS)",1,but,was,"(was, VBD)","(but, CC)",1,best
4,but,1,"(but, CC)",0,serving,best,"(best, RBS)","(serving, VBG)",0,but
5,serving,0,"(serving, VBG)",1,was,but,"(but, CC)","(was, VBD)",0,serve
6,was,1,"(was, VBD)",0,worst,serving,"(serving, VBG)","(worst, JJS)",0,be
7,worst,0,"(worst, JJS)",1,,was,"(was, VBD)",,0,bad